<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="copy">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/res/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/res/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_main.css"/>
    <script src="/res/js/jquery-1.11.3.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/bootstrap-select.min.js"></script>
    <script src="/res/js/defaults-zh_CN.min.js"></script>
    <script src="/res/js/base.js"></script>
</head>
</html>