<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.timall.mapper.ReviewMapper" >
  <resultMap id="BaseResultMap" type="cn.kgc.timall.pojo.Review" >
    <id column="review_id" property="reviewId" jdbcType="INTEGER" />
    <result column="review_createdate" property="reviewCreatedate" jdbcType="TIMESTAMP" />
    <result column="review_user_id" property="reviewUserId" jdbcType="INTEGER" />
    <result column="review_product_id" property="reviewProductId" jdbcType="INTEGER" />
    <result column="review_orderItem_id" property="reviewOrderitemId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.kgc.timall.pojo.Review" extends="BaseResultMap" >
    <result column="review_content" property="reviewContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    review_id, review_createdate, review_user_id, review_product_id, review_orderItem_id
  </sql>
  <sql id="Blob_Column_List" >
    review_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.kgc.timall.pojo.ReviewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.kgc.timall.pojo.ReviewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.kgc.timall.pojo.ReviewExample" >
    delete from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.kgc.timall.pojo.Review" >
    insert into review (review_id, review_createdate, review_user_id, 
      review_product_id, review_orderItem_id, review_content
      )
    values (#{reviewId,jdbcType=INTEGER}, #{reviewCreatedate,jdbcType=TIMESTAMP}, #{reviewUserId,jdbcType=INTEGER}, 
      #{reviewProductId,jdbcType=INTEGER}, #{reviewOrderitemId,jdbcType=INTEGER}, #{reviewContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.kgc.timall.pojo.Review" >
    insert into review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reviewId != null" >
        review_id,
      </if>
      <if test="reviewCreatedate != null" >
        review_createdate,
      </if>
      <if test="reviewUserId != null" >
        review_user_id,
      </if>
      <if test="reviewProductId != null" >
        review_product_id,
      </if>
      <if test="reviewOrderitemId != null" >
        review_orderItem_id,
      </if>
      <if test="reviewContent != null" >
        review_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reviewId != null" >
        #{reviewId,jdbcType=INTEGER},
      </if>
      <if test="reviewCreatedate != null" >
        #{reviewCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewUserId != null" >
        #{reviewUserId,jdbcType=INTEGER},
      </if>
      <if test="reviewProductId != null" >
        #{reviewProductId,jdbcType=INTEGER},
      </if>
      <if test="reviewOrderitemId != null" >
        #{reviewOrderitemId,jdbcType=INTEGER},
      </if>
      <if test="reviewContent != null" >
        #{reviewContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.kgc.timall.pojo.ReviewExample" resultType="java.lang.Integer" >
    select count(*) from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update review
    <set >
      <if test="record.reviewId != null" >
        review_id = #{record.reviewId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewCreatedate != null" >
        review_createdate = #{record.reviewCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reviewUserId != null" >
        review_user_id = #{record.reviewUserId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewProductId != null" >
        review_product_id = #{record.reviewProductId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewOrderitemId != null" >
        review_orderItem_id = #{record.reviewOrderitemId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewContent != null" >
        review_content = #{record.reviewContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update review
    set review_id = #{record.reviewId,jdbcType=INTEGER},
      review_createdate = #{record.reviewCreatedate,jdbcType=TIMESTAMP},
      review_user_id = #{record.reviewUserId,jdbcType=INTEGER},
      review_product_id = #{record.reviewProductId,jdbcType=INTEGER},
      review_orderItem_id = #{record.reviewOrderitemId,jdbcType=INTEGER},
      review_content = #{record.reviewContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update review
    set review_id = #{record.reviewId,jdbcType=INTEGER},
      review_createdate = #{record.reviewCreatedate,jdbcType=TIMESTAMP},
      review_user_id = #{record.reviewUserId,jdbcType=INTEGER},
      review_product_id = #{record.reviewProductId,jdbcType=INTEGER},
      review_orderItem_id = #{record.reviewOrderitemId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kgc.timall.pojo.Review" >
    update review
    <set >
      <if test="reviewCreatedate != null" >
        review_createdate = #{reviewCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewUserId != null" >
        review_user_id = #{reviewUserId,jdbcType=INTEGER},
      </if>
      <if test="reviewProductId != null" >
        review_product_id = #{reviewProductId,jdbcType=INTEGER},
      </if>
      <if test="reviewOrderitemId != null" >
        review_orderItem_id = #{reviewOrderitemId,jdbcType=INTEGER},
      </if>
      <if test="reviewContent != null" >
        review_content = #{reviewContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.kgc.timall.pojo.Review" >
    update review
    set review_createdate = #{reviewCreatedate,jdbcType=TIMESTAMP},
      review_user_id = #{reviewUserId,jdbcType=INTEGER},
      review_product_id = #{reviewProductId,jdbcType=INTEGER},
      review_orderItem_id = #{reviewOrderitemId,jdbcType=INTEGER},
      review_content = #{reviewContent,jdbcType=LONGVARCHAR}
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kgc.timall.pojo.Review" >
    update review
    set review_createdate = #{reviewCreatedate,jdbcType=TIMESTAMP},
      review_user_id = #{reviewUserId,jdbcType=INTEGER},
      review_product_id = #{reviewProductId,jdbcType=INTEGER},
      review_orderItem_id = #{reviewOrderitemId,jdbcType=INTEGER}
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
</mapper>